// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #00797d;
$brand-secondary:       #fefed1;

$color-menu:            #0d4c57;

$color-green:           #3a9c86;
$color-blue:            #008f86;
$color-orange:          #e2723b;
$color-yellow:          #afbe4e;

// Font Size
$font-size-base:          16px !default;
$line-height-base:        1.25 !default; // 20/16

// Font Family
$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-serif:       'Source Serif Pro', Georgia, serif;