/*
Patentes
*/

#patents-graph{

  font-family: $font-family-sans-serif;

  .axis path,
  .axis line {
    display: none;
  }

  .axis text {
    font-size: 0.75em;
    color: $gray-light;
  }

  .bar {
    fill: $brand-primary;
  }

  .bar:hover {
    fill: $color-orange;
  }

  .bar-label{
    fill: white;
    font-size: 0.75em;
    font-weight: 300;
  }

  .marker{
    stroke: $color-orange;
  }
}

/*
Infographic
*/

.infographic{
  position: relative;
  text-align: center;

  .infographic-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.bottom{
      top: auto;
      bottom: 0;
    }

    h4{
      color: $brand-secondary;
      font-size: 36px;
      letter-spacing: 0.05em;
      font-weight: normal;
      margin-top: 80px;
    }

    ul{
      position: relative;
      max-width: 620px;
      margin: 0 auto;
      padding: 0;
    }

    li{
      position: absolute;
      display: block;
      width: 100%;
      color: white;
      list-style: none;
      font-family: $font-family-sans-serif;
      font-size: 1.125em;
      line-height: 1.375em;
      font-weight: 300;
      opacity: 0;
      @include transition( 0.4s ease-in-out all );

      &.active{
        opacity: 1;
      }

      h5{
        color: $color-yellow;
        margin: 0 0 20px;
      }
    }

    blockquote{
      color: $brand-secondary;
      float: none;
      width: 100% !important;
      margin: 0 0 0.5em;
      font-weight: 300;
      font-size: 1em;
      text-indent: 0;

      &:before,
      &:after{
        color: white;
        font-weight: 600;
      }

      &:before{
        top: 0;
        left: -0.4em;
      }

      &:after{
        content: 'â€';
        position: absolute;
        bottom: -0.45em; 
        right: -0.4em;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1em
      }
    }
  }

  .infographic-frame{
    margin: 0;
    padding: 0;

    li{
      position: relative;
      list-style: none;

      .scroller{
        position: absolute;
        left: 0px;
        top: 0;
        height: 80px;
        width: 4px;
        z-index: 70;
        background: linear-gradient(to top, transparent, white);
      }
    }

    li:first-child .scroller{
      display: none;
    }
  }

  .infographic-nav{
    display: none;
    position: absolute;
    right: 20px;
    top: 64px;
    margin: 0;
    padding: 0;

    li{
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      @include transition( 0.4s ease-in-out all );

      a{
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: white;
      }
    }

    &.fixed{
      display: block;

      li{
        opacity: 0.5;

        &.active{
          opacity: 1;
        }
      }
    }
  }

  .infographic-graph{
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &.bottom{
      top: auto !important;
      bottom: 20px;
    }

    svg{
      width: auto;
      height: 100%;
    }
  }
}

#patentes-infographic .infographic-content{
  h4{
    color: $color-brown;
  }

  h5{
    color: white;
  }

  li{
    > strong{
      color: $color-brown;
      font-weight: 600;
    }
    
    > em{
      color: $color-brown;
      font-style: normal;
      font-weight: 400;
    }
  }
}

#fakes-infographic .infographic-graph{
  top: 240px;
}

/* Main Infographic */

#main-infographic{

  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $font-family-sans-serif;
  background: mix( $brand-primary, white, 5% );

  .infographic-graph{
    top: 0;
    z-index: 60;

    .axis path,
    .axis line {
      fill: none;
      stroke: $gray-light;
      shape-rendering: crispEdges;
    }

    .axis text{
      fill: $gray-light;
      font-weight: 600;
    }

    .y.axis text{
      font-size: 0.75em;
      font-weight: 300;
    }

    .y.axis .tick line{
      stroke: mix( $gray-lighter, $gray-light, 80% );
    }

    .x.axis .tick line{
      stroke: mix( $gray-lighter, $gray-light, 70% );
      stroke-dasharray: 1, 3;
    }

    .axis .domain{
      display: none;
    }

    .country-marker{
      stroke: mix( $gray-lighter, $gray-light, 70% );
    }

    .dot{
      cursor: pointer;
    }
  }

  .infographic-content{
    top: 50px;
    left: 50%;
    right: 50px;
    z-index: 66;

    ul{
      margin: 0;
      max-width: none;
    }

    li{
      color: $text-color;
      padding: 1em;
      background: mix( $brand-primary, white, 5% );
      text-align: right;
      //z-index: 90;

      h4, h5{
        font-size: 22px;
        color: $brand-primary;
        margin-bottom: 12px;
      }
    }
  }

  .infographic-nav li{
    opacity: 1;

    a{
      border: 1px solid $color-orange;
      @include transition( 0.4s ease-in-out background );
    }

    &.active a{
      background: $color-orange;
    }
  }

  .infographic-frame li .scroller{
    background: linear-gradient(to top,transparent, $color-orange);
  }
}

/*
#main-infographic-legend-y{

  $main-infographic-legend-color: mix( $gray-light, $gray-lighter, 50% );

  position: absolute;
  top: 150px;
  bottom: 50px;
  left: 24px;
  color: $main-infographic-legend-color;
  border-left: 1px solid $main-infographic-legend-color;

  .glyphicon{
    color: $main-infographic-legend-color;
    left: -4.5px;
    font-size: 0.5em;
  }

  .glyphicon-menu-up{
    position: absolute;
    top: -2px;
  }
  .glyphicon-menu-down{
    position: absolute;
    top: 100%;
    margin-top: -6px;
  }

  p{
    position: absolute;
    top: 50%;
    margin-top: -1em;
    line-height: 1em;
    margin-left: -0.25em;
    background-color: white;
    padding: 6px 0;
  }

  .plus{
    position: absolute;
    top: -22px;
    left: -4.5px;
  }

  .less{
    position: absolute;
    top: 100%;
    left: -3px;
  }
}
*/

#main-infographic-tooltip{
  top: 80px;
  color: $color-brown;
  background: $color-orange;
  padding: 10px 10px 2px;
  width: auto;
  margin: -40px 16px 10px;
  font-weight: 300;
  text-align: left;
  @include transition( 0.3s ease-out opacity );

  p{
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1em;
    font-weight: 600;

    .country{
      color: white;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  
  $tooltip-arrow-width: 6px;

  // Arrows
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    top: 50%;
    left: 0;
    right: auto;
    margin-left: -$tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: $color-orange;
  }

  &.left .tooltip-arrow {
    left: auto;
    right: 0;
    margin-right: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: $color-orange;
  }
}  

#main-infographic-menu{
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px 40px;
  background: mix( $brand-primary, white, 5% );
  opacity: 0;
  @include transition( 0.4s ease-in-out all );

  &.active{
    top: 0;
    opacity: 1;
  }

  ul{
    width: 100%;
    margin: 0;
    padding: 0;

    li{
      float: left;
      width: 25%;
      list-style: none;
      text-align: center;

      h5{
        position: relative;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.25em;
        font-weight: 400;
        border-bottom: 1px solid $color-orange;
        padding: 8px;
        margin: 0 10px 12px;

        .icon-question{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 36px;
          background: url(../images/question-icon.png) no-repeat 0 center transparent;
        }
      }

      .dropdown-toggle{
        width: 100%;
        border-color: $color-orange;
        color: $gray-light;
        font-size: 0.875em;
        line-height: 1.5em;
        padding: 5px 10px;

        .glyphicon{
          position: absolute;
          top: 10px;
          right: 10px;
          color: $color-orange;
          font-size: 1.125em;
        }
      }

      .dropdown-menu{
        border-radius: 0;
        background: $color-orange;

        li{
          float: none;
          color: white;
          font-weight: 300;
          font-size: 0.875em;
          text-align: left;
          padding-left: 10px;
        }
      }
    }
  }

  .btn-group{
    visibility: hidden;
    display: block;
    padding: 0 10px;

    .btn{
      width: 50%;
      color: $gray-light;
      font-family: $font-family-sans-serif;
      border-color: $color-orange;
      @include transition( 0.3s ease-out background-color );

      &.hover,
      &:hover{
        background: mix( $color-orange, white, 10% );
      }

      &.active,
      &.active:hover, 
      &.focus, 
      &:active, 
      &:focus{
        color: white;
        background: $color-orange;
        font-weight: 300;
      }
    }
  }
}