/*
Main Visualization
*/

#main-vis{

  position: relative;
  margin: 20px 0;
  font-family: $font-family-sans-serif;
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
  }

  .axis text{
    fill: #666;
    font-weight: 600;
  }

  .y.axis text{
    font-size: 0.875em;
    font-weight: 400;
  }

  .y.axis .tick line{
    stroke: #e0e0e0;
  }

  .x.axis .tick line{
    stroke: #ccc;
    stroke-dasharray: 1, 2;
  }

  .axis .domain{
    display: none;
  }

  .dot{
    cursor: pointer;
  }


  #graph-tooltip{
    top: 80px;
    background: white;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px 10px 2px;
    width: auto;
    margin: -40px 16px 10px;

    p{
      font-size: 14px;
      margin-bottom: 8px;
      line-height: 1em;
    }
  }  
}

.btn-group{
  visibility: hidden;

  .btn{
    font-family: $font-family-sans-serif;
  }
}


/*
Patentes
*/

#patents-vis{

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: $brand-primary;
    stroke-width: 1.5px;
  }

  .bar {
    fill: $brand-primary;
  }

  .bar:hover {
    fill: $color-orange;
  }
}

/*
Infographic
*/

.infographic{
  position: relative;
  text-align: center;

  .infographic-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.bottom{
      top: auto;
      bottom: 0;
    }

    h4{
      color: $brand-secondary;
      font-size: 36px;
      letter-spacing: 0.05em;
      font-weight: normal;
      margin-top: 80px;
    }

    ul{
      position: relative;
      max-width: 620px;
      margin: 0 auto;
      padding: 0;
    }

    li{
      position: absolute;
      display: block;
      width: 100%;
      color: white;
      list-style: none;
      font-family: $font-family-sans-serif;
      font-size: 1.125em;
      line-height: 1.375em;
      font-weight: 300;
      opacity: 0;
      @include transition( 0.4s ease-in-out all );

      &.active{
        opacity: 1;
      }

      h5{
        color: $color-yellow;
        margin: 0 0 20px;
      }
    }

    blockquote{
      color: $brand-secondary;
      float: none;
      width: 100% !important;
      margin: 0 0 0.5em;
      font-weight: 300;
      font-size: 1em;
      text-indent: 0;

      &:before,
      &:after{
        color: white;
        font-weight: 600;
      }

      &:before{
        top: 0;
        left: -0.4em;
      }

      &:after{
        content: 'â€';
        position: absolute;
        bottom: -0.45em; 
        right: -0.4em;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1em
      }
    }
  }

  .infographic-frame{
    margin: 0;
    padding: 0;

    li{
      list-style: none;
     //outline: 1px solid white;
    }
  }

  .infographic-nav{
    display: none;
    position: absolute;
    right: 20px;
    top: 64px;

    li{
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      @include transition( 0.4s ease-in-out all );

      a{
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: white;
      }
    }

    &.fixed{
      display: block;

      li{
        opacity: 0.5;

        &.active{
          opacity: 1;
        }
      }
    }
  }

  .infographic-graph{
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &.bottom{
      top: auto;
      bottom: 20px;
    }

    svg{
      width: auto;
      height: 100%;
    }
  }
}

#patentes-infographic .infographic-content{
  h4{
    color: $color-brown;
  }

  h5{
    color: white;
  }

  li{
    > strong{
      color: $color-brown;
      font-weight: 600;
    }
    
    > em{
      color: $color-brown;
      font-style: normal;
      font-weight: 400;
    }
  }
}

#fakes-infographic .infographic-graph{
  top: 240px;
}
